<?php

declare(strict_types=1);

namespace {namespace};
{useStatement}

/**
 * @class {className}
 *
 * @package {namespace}

 * @SuppressWarnings(PHPMD.TooManyPublicMethods)
 */
class {className}{extends}{implements}
{
{methods}
}
