<?php

declare(strict_types=1);

namespace {namespace};
{useStatement}

/**
 * @interface {interfaceName}
 *
 * @package {namespace}

 * @SuppressWarnings(PHPMD.ExcessiveParameterList)
 */
interface {interfaceName}{extends}
{{dtoConstants}
{methods}
}
