<?php

declare(strict_types=1);

namespace {namespace};
{useStatement}

/**
 * @interface {interfaceName}
 *
 * @package {namespace}
 */
interface {interfaceName}{extends}
{

     /**
      * Create {shortValueObjectName} read model.
      */
     public function makeActualInstance({shortValueObjectName} ${propertyValueObjectName}, Uuid $uuid): {shortReadModelInterfaceName};

     /**
      * Create {shortValueObjectName} read model from Entity.
      */
     public function makeActualInstanceByEntity({shortEntityNameInterfaceName} ${propertyValueObjectName}): {shortReadModelInterfaceName};
}
