<?php

declare(strict_types=1);

namespace {namespace};
{useStatement}

/**
 * @class {className}
 *
 * @package {namespace}
 */
class {className}{extends}{implements}
{
    /**
     * Create {shortEntityName} instance from value object with Uuid & ProcessId.
     */
    public function createInstance(
        ProcessUuid $processUuid,
        Uuid $uuid,
        {shortValueObjectName} ${propertyValueObjectName},
        ?Payload $payload = null,
        ?EventFactory $eventFactory = null
    ): {shortEntityInterfaceName} {
        return (new {shortEntityName}())->create(
			$processUuid, 
			$uuid, 
			${propertyValueObjectName}, 
			$payload, 
			$eventFactory
		);
    }

    /**
     * Create {shortEntityName} instance from value object with Uuid.
     *
     * @throws ValueObjectInvalidException
     */
    public function makeActualInstance(
        Uuid $uuid,
        {shortValueObjectName} ${propertyValueObjectName},
        ?EventFactory $eventFactory = null
    ): {shortEntityInterfaceName} {
        return {shortEntityName}::createActual(
			$uuid, 
			${propertyValueObjectName}, 
			$eventFactory
		);
    }
}
