<?php

declare(strict_types=1);

namespace {namespace};
{useStatement}

/**
 * @interface {interfaceName}
 *
 * @package {namespace}
 */
interface {interfaceName}{extends}
{{queryConstants}
{methods}
}
