
    /**
     * Find and return array of {entityName} Read Models by FindCriteria
     *
	 * @return {entityName}ReadModelInterface[]|null
     * @throws Exception
     */
    public function {methodName}(FindCriteria $findCriteria): ?array
    {
        try {
            $result = $this->dataMapper->mapFromStorage(
                $this->readModelStore->findBy($findCriteria->toNative())
            );
        } catch (NotFoundException) {
            return null;
        }
        $collection = [];

        foreach ($result as $data) {
            $uuid = $data[{entityName}ReadModelInterface::KEY_UUID];
            unset($data[{entityName}ReadModelInterface::KEY_UUID]);
            $collection[] = $this->readModelFactory->makeActualInstance(
                $this->valueObjectFactory->make{entityName}($data),
                $this->valueObjectFactory->makeUuid($uuid)
            );
        }

        return $collection;
    }
