
    /**
     * Find and return array of {entityName} Read Models by FindCriteria
     *
	 * @return {readModelName}ReadModelInterface[]|null
     * @throws Exception
     */
    public function {methodName}(FindCriteria $findCriteria): ?array
    {
        try {
            $result = $this->readModelStore->findBy($findCriteria->toNative());
        } catch (NotFoundException) {
            return null;
        }
        $collection = [];

        foreach ($result as $data) {
            $uuid = $data[{readModelName}ReadModelInterface::KEY_UUID];
            unset($data[{readModelName}ReadModelInterface::KEY_UUID]);
            $collection[] = $this->readModelFactory->make{readModelName}ActualInstance(
                $this->valueObjectFactory->make{entityName}($data),
                $this->valueObjectFactory->makeUuid($uuid)
            );
        }

        return $collection;
    }
