
    /**
     * Create {modelName} read model from Entity.
     */
    public function make{modelName}ActualInstanceByEntity({shortEntityNameInterfaceName} ${shortEntityName}): {shortReadModelInterfaceName}
    {
        return {shortReadModelName}::createByEntity(${shortEntityName});
    }
