
    /**
     * Create {shortEntityName} instance from value object with Uuid & ProcessId.
     */
    public function create{entityName}Instance(
        ProcessUuid $processUuid,
        {shortValueObjectName} ${propertyValueObjectName},
        ?EventFactoryInterface $eventFactory = null,
        ?ValueObjectFactoryInterface $valueObjectFactory = null
    ){returnType};
