
    /**
      * Create {shortValueObjectName} read model from Entity.
      */
     public function make{modelName}ActualInstanceByEntity({shortEntityNameInterfaceName} ${propertyValueObjectName}){returnType};
