
    /**
     * {methodComment}
     */
    public function {methodName}({arguments}): {shortFactoryClassName}
    {{methodLogic}
        return new {shortFactoryClassName}(
			{factoryArguments}
		);
    }
