
    /**
     * {methodComment}
     */
    public function {methodName}({arguments}){returnType}
    {
        return $this->{repositoryShortName}->{repositoryMethodName}({valueObjectArguments});
    }
